@font-face {
  font-family: "Dazn Trim";
  src: url(./font/DAZNTrim_v2.9_normal_400.woff) format("woff2");
  src: url(./font/DAZNTrim_v2.9_normal_400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Dazn Trim";
  src: url(./font/DAZNTrim_v2.9_normal_600.woff2) format("woff2");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "Dazn Trim";
  src: url(./font/DAZNTrim_v2.9_normal_700.woff2) format("woff2");
  font-weight: 700;
  font-style: bolder;
}
@font-face {
  font-family: "Dazn Trim Condensed";
  src: url(./font/DAZNTrimCondensed_v1.0_normal_700.woff2) format("woff2");
}
@font-face {
  font-family: "Oscine";
  src: url(./font/Oscine_v2.001_normal_400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oscine";
  src: url(./font/Oscine_v2.001_normal_700.woff2) format("woff2");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Oscine";
  src: url(./font/Oscine_v2.001_normal_800.woff2) format("woff2");
  font-weight: 800;
  font-style: bolder;
}

:root {
  font-size: 14px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  transition: all 0.1s ease-in-out !important;
}

button:hover {
  transform: scale(1.1) rotate(2deg);
  transition: all 0.1s ease-in-out;
}

body {
  min-height: 100vh;
  font-family: "DAZN Trim", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

a {
  cursor: pointer;
}

#navbar {
  height: 60px;
}

#inner-nav > a,
#page-index,
#inner-nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#back-office-button {
  background-color: #3d4549;
}

#shop-button {
  background-color: #f7ff1a;
}

#cart-button span {
  transition: font-size 0.25s ease-in-out;
}

#back-office-button,
#shop-button,
#cart-button,
#login-button,
#logout-button,
#reset-item-button,
#edit-item-button {
  height: 40px;
  font-family: "DAZN Trim", Helvetica, Arial, sans-serif;
}

main {
  min-height: calc(100vh - 60px);
}

.max-1000 {
  max-width: 1000px;
}

.max-1400 {
  max-width: 1400px;
}

/* ! BACK OFFICE */

.add-new-item-form-container {
  max-width: 500px;
}

#submit-new-item-button {
  height: 40px;
  font-family: "DAZN Trim", Helvetica, Arial, sans-serif;
  margin-left: 10px;
}

/* ! SHOP */

.card {
  max-height: 500px;
}

.max-height-auto {
  height: fit-content;
  max-height: unset !important;
}

.product-img {
  max-height: 200px;
}

.product-img-details {
  max-height: 300px;
}

.product-name,
.product-description {
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.product-name {
  -webkit-line-clamp: 1;
}

.product-description {
  -webkit-line-clamp: 3;
}

.no-truncate {
  -webkit-box-orient: unset;
  overflow: unset;
  text-overflow: unset;
  display: flex;
  -webkit-line-clamp: unset;
}
